/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button,
nav li.is-button a {
	display: inline-block;
	padding: 12px 24px;
	margin: 0;
	font-family: 'Sora';
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	color: var(--White);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--Purple);
	border: 1px solid var(--Purple);
	transition: all 0.35s linear;

	&:hover,
	&:focus {
		color: var(--Smoke);
		background-color: var(--Purple);
		border-color: var(--Purple);
		outline: none;
	}

	&+button,
	&+.button {
		margin-left: var(--Medium);
		margin-top: var(--Small);

		@media(--phone) {
			margin-top: 0;
		}
	}

	&.is-green {
		color: var(--Purple);
		background-color: var(--Green);
		border-color: var(--Green);

		&:hover,
		&:focus {
			color: var(--Smoke);
			background-color: var(--Purple);
			border-color: var(--Purple);
			outline: none;
		}
	}

	&.is-pink {
		color: var(--Purple);
		background-color: var(--Pink);
		border-color: var(--Pink);

		&:hover,
		&:focus {
			color: var(--Smoke);
			background-color: var(--Purple);
			border-color: var(--Purple);
			outline: none;
		}
	}

	&.is-ghost {
		background: transparent;
		color: var(--Purple);
		border-color: var(--Purple);

		&:hover,
		&:focus {
			color: var(--Smoke);
			background-color: var(--Purple);
			border-color: var(--Purple);
			outline: none;
		}
	}
}

/*-----------------------------------*\
	VIDEO
\*-----------------------------------*/
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	& iframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}