/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/


/*---------------------------------------*\
  FORM STRUCTURE
\*---------------------------------------*/
.gform_wrapper {
	margin: 0 auto;
}

form {
	max-width: 640px;
	margin: 0 auto;

	& li::before {
		display: none !important;
	}

	& .gform_fields {
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;

		&>li,
		&>.gfield {
			position: relative;
			padding: 0;
			margin: 1em 0;
			line-height: 1.5;
			background-image: none;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

/*---------------------------------------*\ 
	HIDDEN FIELDS
\*---------------------------------------*/
.gform_validation_container,
.gfield_visibility_hidden,
.is-hidden {
	display: none;

	& label::after {
		display: none;
	}
}

.is-invisible {
	opacity: 0;
}

/*---------------------------------------*\ 
	FORM PAGINATION
\*---------------------------------------*/
.gf_page_steps {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 8px;
	margin: 0 0 32px 0;
	border-bottom: 2px solid var(--Blue);

	& .gf_step {
		padding: 0;

		&+.gf_step {
			margin-left: var(--Small);

			&::before {
				content: "…";
				display: inline-block;
				margin-right: var(--Small);
			}
		}
	}

	& .gf_step_number {
		font-size: 16px;
		font-weight: bold;
		color: var(--Blue);
	}

	& .gf_step_label {
		font-size: 16px;
		font-weight: 500;
		color: var(--Blue);
	}

	& .gf_step_active {

		& .gf_step_number,
		& .gf_step_label {
			color: var(--Purple);
		}
	}

	& .gf_step_clear {
		display: none;
	}
}

.gf_progressbar {
	background-color: var(--Green);
	border-radius: 50px;
	min-height: 16px;
	overflow: hidden;

	& .gf_progressbar_percentage {
		background-color: var(--Green);
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		min-height: 16px;

		& span {
			display: none;
		}
	}
}

.gform_footer {
	margin-top: 48px;
}

.gform_page_footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 48px auto 0 auto;

	& input {
		width: auto;
		margin: 0;
		color: var(--Purple);
		background-color: transparent;
		border-color: var(--Purple);

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Purple);
			border-color: var(--Purple);
		}

		&.gform_next_button {
			color: var(--White);
			background-color: var(--Green);
			border-color: var(--Green);

			&:hover,
			&:focus {
				color: var(--White);
				background-color: var(--Purple);
				border-color: var(--Purple);
			}
		}
	}
}

/*---------------------------------------*\
    SECTION TITLES
\*---------------------------------------*/
.gsection_title {
	padding: 4px 64px 4px 8px;
	margin: 64px 0 0 0;
	font-size: 24px;

	&+.gsection_description {
		padding: 8px 64px 0 0;
		font-size: 14px;
		line-height: 1.3;
	}
}

form ul>li:first-child .gsection_title {
	margin-top: 0;
}

/*---------------------------------------*\
  LABELS & Descriptions
\*---------------------------------------*/
form label {
	display: inline-block;
	margin-bottom: var(--xSmall);
	font-size: 14px;
	font-weight: 500;
	color: var(--Purple);

	& span.gfield_required {
		display: none;
	}
}

.hidden_label>label {
	display: none;
}

ul.gform_fields>li:not(.gfield_contains_required):not(.gfield_price)>label:not(.file-upload-label) {
	&::after {
		display: inline-block;
		margin-left: 0.35em;
		font-size: 0.875em;
		color: var(--Blue);
		content: '(optional)';
	}
}

::placeholder {
	color: rgba(47, 17, 67, .6);
}

.gfield_description,
.ginput_counter,
.screen-reader-text,
.ginput_container .instruction {
	padding: 8px 0 0 8px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	color: var(--Purple);
	letter-spacing: 0.5px;
}

.field_description_above .gfield_description {
	color: var(--Purple);
}

label+.gfield_description {
	padding: 0;
	margin: 0 0 var(--Medium) 0;
	font-size: 14px;
	line-height: 1.3;
}

/*---------------------------------------*\
  VALIDATION MESSAGES
\*---------------------------------------*/
li.gfield_error {
	& label {
		color: var(--Error);
	}

	& input,
	& textarea,
	& select {
		border-color: var(--Error);
	}

	& .validation_message {
		color: var(--Error);
	}

	& .ginput_container {
		position: relative;

		&::after {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 4;
			display: block;
			width: 24px;
			height: 24px;
			content: '';
			background-image: url('../images/input_error.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}

.validation_message {
	padding: 8px 0 0 8px;
	font-size: 12px;
	line-height: 1;
	color: var(--Error);
	letter-spacing: 0.5px;

	& ul li {
		padding: 0;
		line-height: 1;
		color: var(--Error);
		background-image: none;
	}
}

/*---------------------------------------*\
  INPUT
\*---------------------------------------*/
input {
	width: 100%;
	padding: 0.75em;
	border: 1px solid var(--Purple);
	background-color: var(--Smoke);

	&:focus {
		border-color: var(--Green);
		outline: none;
	}
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
	width: 100%;
	padding: 0.75em;
	border: 1px solid var(--Purple);
	background-color: var(--Smoke);

	&.small {
		max-height: 100px;
	}

	&.medium {
		max-height: 150px;
	}

	&.large {
		max-height: 200px;
	}

	&:focus {
		border-color: var(--Green);
		outline: none;
	}
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
	width: 100%;
	padding: 0.75em;
	background-image: url('../images/select_arrow.svg');
	background-repeat: no-repeat;
	background-position: top 11px right 8px;
	background-size: 24px;
	border: 1px solid var(--Purple);
	background-color: var(--Smoke);

	-webkit-appearance: none;
	-moz-appearance: none;

	&:focus {
		border-color: var(--Green);
		outline: none;
	}

	&.has-placeholder {
		color: rgba(47, 17, 67, .6);
	}
}

li.gfield_error .ginput_container_select::after {
	right: 40px;
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
ul.gfield_radio {
	padding: 0 0 0 8px;
	margin: var(--xSmall) 0 0 0;

	& li {
		display: inline-flex;
		align-items: center;
		width: auto;
		padding: 0;
		margin: 0 1em 0.5em 0;
		line-height: 1;
		background-image: none;

		@media(--phone) {
			width: 100%;
		}

		& label {
			padding: 0;
			margin: 0;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: var(--Purple);
			letter-spacing: 0.5px;
			vertical-align: middle;
			cursor: pointer;
		}

		& input[type="radio"] {
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			margin-right: 4px;
			margin-right: 6px;
			vertical-align: middle;
			cursor: pointer;
			border: 0;
			border: 1px solid var(--Purple);
			background: transparent;
			border-radius: 50%;

			-webkit-appearance: none;
			-moz-appearance: none;

			&:checked {
				background-color: var(--Purple);
				border-color: var(--Purple);
			}
		}

		& input[type="text"] {
			padding: 4px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: var(--Purple);
			background: transparent;
			border: 1px solid var(--Purple);
			border-radius: 4px;
			box-shadow: none;
		}
	}
}

.two-column ul.gfield_radio {
	column-count: 2;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.three-column ul.gfield_radio {
	column-count: 3;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
.gchoice {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	& input {
		width: auto;
		margin-right: 8px;
	}

	& label {
		width: calc(100% - 26px);
	}
}

ul.gfield_checkbox {
	padding: 0 0 0 8px;
	margin: var(--xSmall) 0 0 0;

	& li {
		display: inline-flex;
		align-items: center;
		width: auto;
		padding: 0;
		margin: 0 1em 0.5em 0;
		line-height: 1;
		background-image: none;

		@media(--phone) {
			width: 100%;
		}

		& label {
			position: relative;
			padding: 0;
			margin: 0;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: var(--Purple);
			letter-spacing: 0.5px;
			vertical-align: middle;
			cursor: pointer;

			&::before {
				position: absolute;
				top: 1px;
				left: -20px;
				display: block;
				width: 13px;
				height: 13px;
				content: '';
				background-image: url('../images/checkmark-white.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				opacity: 0;
				transition: all 0.15s linear;
			}
		}

		& input[type="checkbox"] {
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			margin-right: 4px;
			vertical-align: middle;
			cursor: pointer;
			border: 0;
			border: 1px solid var(--Purple);
			background: transparent;
			border-radius: 5px;

			-webkit-appearance: none;
			-moz-appearance: none;

			&:checked {
				background-color: var(--Purple);
				border-color: var(--Purple);

				&+label {
					&::before {
						opacity: 1;
					}
				}
			}
		}

		& input[type="text"] {
			padding: 4px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: var(--Purple);
			background: transparent;
			border: 1px solid var(--Purple);
			border-radius: 4px;
			box-shadow: none;
		}
	}
}

.two-column ul.gfield_checkbox {
	column-count: 2;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.three-column ul.gfield_checkbox {
	column-count: 3;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

/*---------------------------------------*\ 
	SMART FIELDS
\*---------------------------------------*/
.ginput_complex,
.clear-multi {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	& .name_first,
	& .name_middle,
	& .name_last {
		width: 31%;
	}

	&.no_middle_name .name_first,
	&.no_middle_name .name_last {
		width: 48%;
	}

	&.ginput_container_address {
		& span label:last-child {
			margin: 6px 0 12px 0;
		}
	}

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 31%;
	}

	& .gfield_time_hour,
	& .gfield_time_minute,
	& .gfield_time_ampm {
		width: 31%;
	}

	& span label:last-child,
	& label {
		display: block;
		padding: 0 0 0 8px;
		margin: 6px 0 0 0;
		font-size: 12px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.5px;
	}

	& i {
		display: none;
	}
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/

.gform_drop_area {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	margin: 0 8px;
	border: 2px dashed var(--Blue);
	border-radius: 4px;

	& input {
		display: inline-block;
		width: auto;
		padding: 6px 16px;
		margin: 0 0 0 16px;
		font-size: 14px;
		color: var(--Smoke);
		text-transform: none;
		background-color: var(--Purple);
		box-shadow: none;

		&:hover,
		&:focus {
			color: var(--Smoke);
			background-color: var(--Purple);
			outline: none;
		}
	}
}

.ginput_preview {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 0 0 8px;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.5px;

	& strong {
		font-weight: 500;
	}

	& img {
		margin-right: 6px;
		vertical-align: middle;
		cursor: pointer;
	}
}

.gform_fileupload_multifile+span.screen-reader-text {
	position: relative !important;
	overflow: visible;
	clip: auto;
}

/*---------------------------------------*\
  DATE
\*---------------------------------------*/
.ui-datepicker {
	padding: 8px;
	background-color: var(--White);
	border: 1px solid var(--Purple);

	& .ui-datepicker-header {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;

		&>a {
			margin: 0 0 8px 0;
			font-size: 12px;
			color: var(--Purple);
		}

		& .ui-datepicker-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 8px;

			& select {
				width: 48%;
				padding: 8px 4px;
				font-size: 14px;
				background-color: transparent;
				background-position: center right;
				border: 1px solid var(--Purple);
			}
		}
	}

	& .ui-datepicker-calendar {
		width: 100%;
		border-collapse: collapse;
		background: white;
		border: 1px solid var(--Purple);
		margin: 0;

		& th,
		& td {
			border: 1px solid var(--Purple);
		}

		& thead span {
			font-weight: 500;
		}

		& td {
			text-align: center;

			& a {
				display: block;
				padding: 6px 4px;
				margin: 0;
				line-height: 1;
				color: var(--Purple);
				text-decoration: none;

				&:hover,
				&:focus,
				&.ui-state-active {
					background-color: var(--Pink);
					color: var(--White);
					outline: none;
				}
			}
		}
	}
}

.ginput_container_date img.ui-datepicker-trigger {
	position: absolute;
	top: 8px;
	right: 8px;
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.ginput_container_consent {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 24px;

	& input {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		margin-top: 2px;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid var(--Purple);
		border-radius: 5px;

		-webkit-appearance: none;
		-moz-appearance: none;

		&:checked {
			background-color: var(--Purple);
			border-color: var(--Purple);

			&+label {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	& label {
		position: relative;
		display: inline-block;
		top: 2px;
		width: 100%;
		padding: 0 0 0 8px;
		line-height: 1.5;
		font-size: 14px;
		font-weight: 700;

		&::before {
			position: absolute;
			top: 4px;
			left: -16px;
			display: block;
			width: 13px;
			height: 13px;
			content: '';
			background-image: url('../images/checkmark-white.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			opacity: 0;
			transition: all 0.15s linear;
		}

		&+.gfield_required {
			display: none;
		}
	}

	&+.gfield_consent_description {
		padding: 8px 0 0 24px;
		color: var(--Purple);
	}
}

.gfield_consent_description+.ginput_container_consent {
	margin-top: var(--Small);
}

/*---------------------------------------*\
  reCaptcha
\*---------------------------------------*/
.grecaptcha-badge {
	z-index: 1000;
}

/*---------------------------------------*\
  CREDIT CARD
\*---------------------------------------*/
.ginput_container_creditcard {
	display: block;
}

/*---------------------------------------*\
  COUPON
\*---------------------------------------*/
.gf_coupon_code {
	float: left;
	padding: 6px .75em;

	&+input {
		float: left;
		width: auto;
	}

	&~#gf_coupon_info {
		clear: both;
	}
}

/*---------------------------------------*\
  NOTIFICATION
\*---------------------------------------*/
p.notification {
	background: var(--Pink);
	padding: var(--Small);
	color: var(--White);
	font-size: 18px;
	line-height: 1.3;
}