/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
	margin: var(--Medium) auto;
	padding: 0;

	& li {
		margin: var(--Small) 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

nav ul li::before {
	display: none;
}

/*-----------------------------------*\
	UNORDERED LIST
\*-----------------------------------*/
ul {
	list-style: none;

	& li {
		position: relative;
		padding-left: var(--Inbetween);

		&:before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			border: 2px solid var(--Blue);
			border-radius: 10px;
			position: absolute;
			left: 0;
			top: 8px;
		}
	}
}

/*-----------------------------------*\
	ORDERED LIST
\*-----------------------------------*/
ol {
	list-style: none;
	counter-reset: number-counter;

	& li {
		position: relative;
		padding-left: var(--Inbetween);
		counter-increment: number-counter;

		&:before {
			display: inline-block;
			margin-right: var(--Medium);
			color: var(--Blue);
			font-weight: 500;
			vertical-align: middle;
			content: counter(number-counter);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}


/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;

		& li {
			padding-right: 1em;
		}
	}
}

&.has-3-columns {
	column-count: 1;

	@media(--phone) {
		max-width: 1024px;
		margin: 4em auto;
		column-count: 3;

		& li {
			padding-right: 1em;
		}
	}
}

&.has-4-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;

		& li {
			padding-right: 1em;
		}
	}

	@media(--tablet) {
		max-width: 1024px;
		margin: 4em auto;
		column-count: 4;
	}
}