/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
@font-face {
	font-family: 'Orion Bold';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Orion-Bold.woff2') format('woff2'),
		url('../fonts/Orion-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Sora-Light.woff2') format('woff2'),
		url('../fonts/Sora-Light.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Sora-Regular.woff2') format('woff2'),
		url('../fonts/Sora-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Sora-Medium.woff2') format('woff2'),
		url('../fonts/Sora-Medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Sora-SemiBold.woff2') format('woff2'),
		url('../fonts/Sora-SemiBold.woff') format('woff');
	font-display: swap;
}

/*-----------------------------------*\
	HEADERS
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 2px;
	font-family: 'Orion Bold';
	margin: 40px 0 var(--Medium) 0;
}

h1 {
	font-size: 36px;
	line-height: 1.1;

	@media(--phone) {
		font-size: 48px;
	}

	&>span {
		display: block;
		font-family: 'Sora';
		font-size: 20px;
		font-weight: 500;
		color: inherit;

		&:first-child {
			margin: 0 auto var(--Small) auto;
		}

		&:last-child:not(:first-child) {
			margin: var(--Small) auto 0 auto;
		}
	}
}

h2 {
	font-size: 32px;

	@media(--phone) {
		font-size: 36px;
	}
}

h3 {
	font-size: 20px;

	@media(--phone) {
		font-size: 26px;
	}
}

h4 {
	font-size: 18px;

	@media(--phone) {
		font-size: 20px;
	}
}

h5,
h6 {
	font-size: 18px;
}

p {
	& small {
		font-size: 12px;
	}

	& b,
	& strong {
		font-weight: 600;
	}
}

.hurrytimer-headline {
	font-family: Orion Bold;
}

/*-----------------------------------*\
	INLINE LINKS
\*-----------------------------------*/
p,
ul li:not(.is-button),
ol li:not(.is-button) {
	& a:not(.button) {
		color: var(--Green);
		font-weight: 500;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--Green);
		}
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	height: 8px;
	margin: var(--xLarge) auto;
	background-color: var(--Yellow);
	border: none;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

iframe {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	width: 85%;
	padding: 0 0 0 24px;
	margin: var(--Large) auto;
	font-size: 20px;
	line-height: 1.3;
	color: var(--Blue);
	position: relative;

	@media(--phone) {
		font-size: 24px;
	}

	&::before {
		content: '';
		width: 3px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background: linear-gradient(180deg, #5F73B6 0%, #20BAA3 100%);
	}

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		font-size: inherit;
		color: inherit;
	}

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p:last-child:not(:first-child) {
		color: var(--Purple);
		font-size: 16px;
	}
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: var(--Medium) auto;
}