/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	min-height: 200px;
	padding: var(--Large) 0 var(--xLarge) 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		display: none;
		top: -150px;
		height: 100vh;
		width: 500px;
		background-position: top left;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/Header-ShapeLeftGroup.svg');

		@media(--tablet) {
			display: block;
			left: -320px;
		}

		@media(--laptop) {
			left: -200px;
		}
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		right: -350px;
		top: -200px;
		height: 100vh;
		width: 800px;
		background-position: top right;
		background-size: 530px;
		background-repeat: no-repeat;
		background-image: url('../images/Header-ShapeRight.svg');

		@media(--phone) {
			right: -250px;
			top: -300px;
		}

		@media(--tablet) {
			right: -280px;
		}

		@media(--laptop) {
			right: -200px;
		}
	}

	&.is-tall::after {
		background-size: contain;
		background-image: url('../images/Header-ShapeRightGroup.svg');
	}

	&.is-empty {
		padding: 0;
		height: 0;
		min-height: 0;
	}

	&>div>* {
		max-width: 540px;
	}

	& h1 {
		margin: 0;
	}

	& p {
		margin-top: var(--Medium);
		margin-bottom: 0;
		vertical-align: middle;

		&.presented-by {
			display: inline-block;
			margin-right: var(--Medium);
		}
	}

	& img {
		mix-blend-mode: multiply;
		width: 200px;
		max-height: 80px;
		object-fit: contain;
		object-position: left center;
		vertical-align: middle;
		display: inline-block;
		margin-top: var(--Medium);
	}

	& button,
	& .button {
		margin-top: 24px;
	}
}