/*-----------------------------------*\
	POWERED BY SUBTA
\*-----------------------------------*/
aside.subta-powered {
	background: var(--Green2White);
	padding: var(--Large) var(--Small) var(--xLarge) var(--Small);
	margin-top: 96px;
	position: relative;

	@media(--phone) {
		margin-top: var(--xLarge);
	}

	&>div {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 48px;
		align-items: center;

		@media(--tablet) {
			grid-template-columns: 1fr 2fr;
		}

		&>div {
			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}

		& svg {
			max-width: 100%;
		}
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: -64px;
		bottom: calc(100% - 120px);
		height: 500px;
		width: 500px;
		background-position: bottom left;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/Footer-ShapeLeft.svg');
		display: none;

		@media(--phone) {
			display: block;
			left: -200px;
		}

		@media(--laptop) {
			left: -64px;
		}
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		right: -200px;
		bottom: calc(100% - 150px);
		height: 500px;
		width: 500px;
		background-position: bottom right;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/Footer-ShapeRight.svg');

		@media(--laptop) {
			right: -32px;
		}
	}
}

/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	padding: var(--Large) var(--Medium) 96px var(--Medium);
	background-color: var(--Purple);

	&>div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 32px;

		& .column {
			order: 1;

			&.column-one {
				order: 4;
				grid-column: span 2;
			}

			&.column-six {
				order: 0;
				grid-column: span 2;
			}
		}

		@media(--tablet) {
			grid-template-columns: repeat(4, 1fr);

			& .column.column-one,
			& .column.column-six {
				order: 0;
				grid-column: span 2;
			}
		}

		@media(--laptop) {
			grid-template-columns: repeat(6, 1fr);

			& .column.column-one,
			& .column.column-six {
				order: 1;
				grid-column: span 1;
			}
		}
	}

	& .copyright {
		grid-column: 1 / -1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		order: 10;

		& nav {
			& li+li:not(.is-button) {
				margin-left: var(--xSmall);
			}

			& a {
				padding: var(--xSmall) 6px !important;
				font-size: 12px !important;
				border-width: 2px !important;
			}
		}

		&>div {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			& p {
				margin: 0;
			}

			& img {
				width: auto;
				height: 44px;
				position: relative;
				top: 4px;
				filter: invert(1);
			}
		}
	}

	& ul {
		margin: 0;
		padding: 0px;

		& li {
			padding: 0;
			color: var(--White);

			&::before {
				display: none;
			}
		}
	}

	& p {
		color: var(--White);
	}

	& nav {
		& ul>li:not(.is-button) a:not(.button) {
			color: var(--White);

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	& nav.social {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		@media(--tablet) {
			justify-content: flex-end;
		}

		& a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			padding: 0;
			background-color: var(--Green);
			border-radius: 50%;

			& svg {
				display: block;
				width: 14px;
				height: 14px;
			}

			&+a {
				margin-left: var(--Small);
			}
		}
	}

	& h5.widgettitle {
		margin-top: 0;
		color: var(--White);
		font-family: 'Sora';
		font-weight: 500;
		font-size: 16px;
	}

	& .widget_nav_menu {
		& ul {
			margin: 0;
			padding: 0;

			& li {
				padding: 0;
				margin: var(--Small) 0;

				&::before {
					display: none;
				}

				& a {
					display: block;
					padding: 0;
					color: Var(--White);
					font-weight: 300;
					border-bottom: 0;
					text-decoration: none;
					transition: all .15s linear;
					border: 0;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}

				& .current_page_item a,
				& .current_menu_item a {
					color: var(--Green);
					border: 0;
				}
			}
		}
	}
}

.app-download img {
	height: 40px;
}