/*-----------------------------------*\
	CARD + MEDIA
\*-----------------------------------*/
.card-text {
	margin: var(--xLarge) auto;

	&>div {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;

		&:first-child::after {
			content: '';
			position: absolute;
			z-index: -1;
			top: -5%;
			right: -10%;
			height: 110%;
			width: 120%;
			background-position: top right;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('../images/Misc-bg-shape-1.svg');
		}

		&>*:first-child {
			margin-top: 0;
		}
	}
}

/*-----------------------------------*\
	CARD ALIGNMENT
\*-----------------------------------*/
.card-text {
	@media(--tablet) {
		&.has-card-on-right {
			&>div:first-child {
				order: 2;

				&::after {
					content: '';
					position: absolute;
					z-index: -1;
					top: -5%;
					left: -10%;
					height: 110%;
					width: 120%;
					background-position: top left;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url('../images/Misc-bg-shape-1.svg');
				}
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.card-text {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	grid-gap: 32px;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 64px;
	}
}