/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
.card {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	background-color: var(--White);
	box-shadow: var(--Shadow);

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& figure {
		display: none;
	}

	&>div {
		flex-grow: 1;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0 var(--Inbetween) var(--Large) var(--Inbetween);
	}

	& h3 {
		width: 100%;
		margin-top: 0;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% 40px);

		&.is-Green2Purple {
			background: var(--Green2Purple);
			padding: 48px var(--Inbetween) var(--Large) var(--Inbetween);
			color: var(--White);
		}

		&.is-Pink2Purple {
			background: var(--Pink2Purple);
			padding: 48px var(--Inbetween) var(--Large) var(--Inbetween);
			color: var(--White);
		}

		&.is-Green2White {
			background: var(--Green2White);
			padding: 48px var(--Inbetween) var(--Large) var(--Inbetween);
			color: var(--White);
		}

		&.is-Blue2Purple {
			background: var(--Blue2Purple);
			padding: 48px var(--Medium) var(--Large) var(--Medium);
			color: var(--White);
		}
	}

	& .speakers {
		width: calc(100% - 32px);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
		grid-gap: 16px;
		margin: var(--Medium) 0 0 0;

		& img.headshot {
			width: calc(100% - 32px);
			margin: 0 0 0 auto;
			display: block;
			clip-path: polygon(16px 0%, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0% 16px);
		}

		& .logo {
			width: 64px;
			height: 32px;
			background-color: var(--Smoke);
			box-shadow: var(--Shadow);
			position: relative;
			top: -20px;

			& img {
				position: absolute;
				top: 4px;
				right: 4px;
				bottom: 4px;
				left: 4px;
				width: calc(100% - 8px);
				height: calc(100% - 8px);
				object-fit: contain;
				object-position: center;
				mix-blend-mode: multiply;
			}
		}
	}

	& a.button {
		margin-top: var(--Medium);
	}
}

.top-cards .card {
	& figure {
		display: block;
		margin: 0;
		width: 100%;
		clip-path: polygon(0 0%, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% 40px);

		& img {
			display: block;
			object-fit: cover;
			width: 100%;
			height: 200px;
		}

		&+h3 {
			margin: 24px 0 0 0;
			padding: 0 var(--Inbetween);
			color: var(--Purple);
			background: transparent;
			clip-path: initial;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	align-items: flex-start;
	margin: var(--xLarge) auto;

	@media(--tablet) {
		&.columns-2 {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 64px;
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 64px;
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 64px;
		}
	}
}