/*-----------------------------------*\
	2 COLUMNS
\*-----------------------------------*/
.editor-2-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 16px;

	&>h2:first-child {
		margin: 0;

		@media(--tablet) {
			grid-column: span 2;
			text-align: center;
		}
	}

	&>div {
		width: 100%;

		@media(--tablet) {

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media(--tablet) {
		&.is-fifty {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 64px;
		}

		&.has-sidebar {
			grid-template-columns: 70fr 30fr;
			grid-gap: 64px;
		}
	}
}

/*-----------------------------------*\
	3 COLUMNS
\*-----------------------------------*/
.editor-3-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 48px;

	&>h2:first-child {
		margin: 0;

		@media(--tablet) {
			grid-column: span 3;
			text-align: center;

		}
	}

	&>div {
		width: 100%;

		&>*:first-child {
			margin-top: 0;
		}
	}

	@media(--tablet) {
		grid-template-columns: repeat(3, 1fr);
	}
}