/*-----------------------------------*\
	IMAGE + FORM
\*-----------------------------------*/
.form-text {
	margin: var(--xLarge) auto;
	background: var(--Pink2Purple);
	padding: 150px 0;
	position: relative;
	clip-path: polygon(0 120px, 100% 0, 100% 100%, 0 calc(100% - 100px), 0 120px);

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -80px;
		transform: translateY(-50%);
		height: 400px;
		width: 400px;
		background-position: center left;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/Misc-bg-shape-2.svg');
		opacity: .5;
	}

	&::after {
		content: "";
		position: absolute;
		top: 64px;
		right: -200px;
		height: 400px;
		width: 400px;
		background-position: top right;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/Misc-bg-shape-2.svg');
		opacity: .5;
	}

	&.has-form-on-left>div>div:last-child {
		clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 40px 100%, 0 calc(100% - 40px), 0 0);
	}

	&>div>div {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		z-index: 2;

		&:last-child {
			background-color: var(--Smoke);
			padding: var(--Inbetween);
			clip-path: polygon(40px 0%, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% 40px);
		}

		&:first-child {
			color: var(--Smoke);

			& p,
			& h2,
			& h3,
			& h4,
			& h5,
			& h6,
			& li,
			& blockquote {
				color: inherit;
			}
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.form-text {
	@media(--tablet) {
		& .has-form-on-left {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.form-text {
	&>div {
		display: grid;
		grid-template-columns: 1fr;
		align-items: flex-start;
		grid-gap: 32px;

		@media(--tablet) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 64px;
		}
	}
}