/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
	filter: blur(8px);
	transition: all 0.35s linear;
}

.blur-up.lazyloaded {
	filter: blur(0);
	-webkit-filter: blur(0);
}

/*-----------------------------------*\
	IMAGE STYLES
\*-----------------------------------*/
.gallery {

	& figure {
		min-height: 10px;
		margin: 0;

		& img {
			display: block;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.gallery:not(.slider) {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	margin: var(--xLarge) auto;

	@media(--phone) {

		&.columns-2,
		&.columns-4 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

/*-----------------------------------*\
	SLIDER
\*-----------------------------------*/
.gallery.slider {
	& ul {
		padding: 0;

		& button {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 3;
			padding: 1em;
			margin: 0;
			border-radius: 50%;
			transform: translateX(-50%) translateY(-50%);

			&:focus {
				outline: 1px solid rgba(81, 203, 238, 1);
			}

			&:last-child {
				right: 0;
				left: auto;
				transform: translateX(50%) translateY(-50%);
			}

			& svg {
				display: block;
				width: 2em;
				height: 2em;
				fill: var(--Yellow);
			}
		}

		& li {
			display: block !important;
			padding: 0;
			margin: 0;

			&::before {
				display: none;
			}

			& img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
				opacity: 0.5;
				transition: all 0.15s linear;
			}
		}

		& .slick-list {
			overflow: visible;
		}

		& .slick-active li img {
			opacity: 1;
		}
	}
}