/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
	margin: var(--xLarge) auto;

	&.image-cover {
		align-items: normal;

		& img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&>div {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&>*:first-child {
			margin-top: 0;
		}

		& img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			clip-path: polygon(40px 0%, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% 40px);
		}
	}

	&.has-image-on-right>div img {
		clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 40px 100%, 0 calc(100% - 40px), 0 0);
	}
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
	@media(--tablet) {
		&.has-image-on-right {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.media-text {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	grid-gap: 32px;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 64px;
	}
}