section.speaker-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 48px 24px;
	position: relative;

	@media(--phone) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 10%;
		left: 80px;
		height: 400px;
		width: 400px;
		background-position: top right;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/Misc-bg-shape-3.svg');
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 30%;
		right: 150px;
		height: 400px;
		width: 400px;
		background-position: top left;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/Misc-bg-shape-2.svg');
	}

	& .intro {
		grid-column: 1 / -1;
	}

	& .single-speaker {
		& .headshot {
			padding-top: 100%;
			width: 100%;
			position: relative;
			clip-path: polygon(24px 0%, 100% 0, 100% calc(100% - 24px), calc(100% - 24px) 100%, 0 100%, 0% 24px);

			& img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				object-fit: cover;
				object-position: center;
			}
		}

		& .company-logo {
			width: 150px;
			height: 64px;
			background-color: var(--White);
			box-shadow: var(--Shadow);
			position: relative;
			top: -32px;
			margin: 0 auto;

			& img {
				position: absolute;
				top: 4px;
				right: 4px;
				bottom: 4px;
				left: 4px;
				width: calc(100% - 8px);
				height: calc(100% - 8px);
				-o-object-fit: contain;
				object-fit: contain;
				-o-object-position: center;
				object-position: center;
				mix-blend-mode: multiply
			}
		}

		& h4 {
			font-family: 'Sora';
			font-weight: 400;
			text-align: center;
			margin: 0;
		}

		& p {
			margin: 0;
			text-align: center;
		}
	}
}