section.sponsor-slider {
	position: relative;
	z-index: 2;

	& .sponsors {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		& .slick-list {
			width: 100%;

			@media(--phone) {
				width: calc(100% - 144px);
			}
		}

		& .sponsor {
			background: var(--Smoke);
			padding: 0 var(--Inbetween);

			& img {
				width: 100%;
				height: 100px;
				object-fit: contain;
				object-position: center;
				mix-blend-mode: multiply;
			}
		}

		& button {
			overflow: hidden;
			text-indent: -999px;
			background-size: 24px;
			background-repeat: no-repeat;
			background-position: 50%;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			box-shadow: var(--Shadow);
			background-color: var(--White);
			border: 0;
			position: relative;
			z-index: 2;
			order: 2;
			margin-top: 24px;

			@media(--phone) {
				order: initial;
				margin-top: 0;
			}

			&.slick-prev {
				background-image: url('../images/slider-arrow-left.svg');
				margin-right: 24px;
			}

			&.slick-next {
				background-image: url('../images/slider-arrow-right.svg');
				margin-left: 24px;
			}
		}
	}
}