/*-----------------------------------*\
	TICKET CARDS
\*-----------------------------------*/
.ticket-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: var(--xLarge) 0;

	&:last-child {
		margin-bottom: 120px;
	}

	& .ticket-card {
		width: 325px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		&:last-child:not(:first-child) {
			opacity: .7;

			& .card-wrapper {
				box-shadow: none;
			}

			& .top {
				padding-bottom: 60px;

				&:after {
					content: '';
					display: block;
					width: 48px;
					height: 48px;
					margin: var(--Inbetween) auto 0 auto;
					background-image: url('../images/icon-lock.svg');
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		&>h2 {
			margin-bottom: 0;
		}

		&>p {
			margin-top: 0;
		}

		&.is-virtual .card-wrapper {
			&::before {
				display: block;
				position: absolute;
				top: var(--Small);
				right: -24px;
				font-size: 14px;
				font-family: 'Sora';
				font-weight: 600;
				content: 'Virtual Only';
				clip-path: polygon(0 0, 100% 0, 100% 100%, 12px 100%, 0 0);
				background-color: var(--Yellow);
				padding: 6px 12px 6px 20px;
				z-index: 2;
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 42px;
				right: -24px;
				background-color: red;
				width: 24px;
				height: 14px;
				clip-path: polygon(0 0, 100% 0, 0 100%, 0 0);
				background-color: var(--YellowDark);
			}

			& .top {
				padding: 52px var(--Inbetween) var(--Inbetween) var(--Inbetween);
			}
		}

		& .card-wrapper {
			text-align: center;
			background: var(--White);
			box-shadow: var(--Shadow);
			flex-grow: 1;
			position: relative;

			& .top {
				padding: var(--Inbetween) var(--Inbetween) var(--Inbetween) var(--Inbetween);
				clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% 40px);

				&.is-Green2Purple {
					background: var(--Green2Purple);
				}

				&.is-Pink2Purple {
					background: var(--Pink2Purple);
				}

				&.is-Green2White {
					background: var(--Green2White);
				}

				&.is-Blue2Purple {
					background: var(--Blue2Purple);
				}

				&>*:first-child {
					margin-top: 0;
				}

				&>*:lastt-child {
					margin-bottom: 0;
				}

				& p {
					color: var(--White);
				}

				& h2 {
					color: var(--White);
					font-family: 'Sora';
					margin: 0;
					font-weight: 500;

					&+p {
						color: var(--Yellow);
						font-weight: 500;
						margin-top: 0;
						margin: 0 0 var(--Medium) 0;
					}
				}

				& .button {
					display: table;
					margin: 0 auto;
				}

				& .button.is-ghost {
					color: var(--White);
					border: 0;
					text-decoration: underline;
					margin: var(--Medium) auto;
					padding: 0;

					&:hover {
						background: transparent;
						color: var(--Green);
					}
				}
			}

			& .bottom {
				padding: var(--Inbetween);

				&>*:first-child {
					margin-top: 0;
				}

				&>*:lastt-child {
					margin-bottom: 0;
				}

				& h2 {
					margin-top: 0;
					font-family: 'Sora';
					font-weight: 500;
					margin-bottom: 0;

					&+p {
						color: rgba(47, 17, 67, 0.5);
						font-weight: 500;
						margin-top: 0;
					}
				}
			}
		}
	}
}