/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --smallPhone (min-width: 340px);

@custom-media --phone (min-width: 500px);

@custom-media --tablet (min-width: 800px);

@custom-media --laptop (min-width: 1050px);

@custom-media --desktop (min-width: 1200px);

div {

	@media(--smallPhone) {
		box-sizing: inherit;
	}

	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	HTML/BODY
\*-----------------------------------*/
html {
	box-sizing: border-box;
	font-family: 'Sora';
	font-size: 16px;
	font-weight: 300;
	line-height: 1.618;
	color: var(--Purple);
	background: var(--Smoke);

	scroll-behavior: smooth;

	&.no-scroll {
		overflow: hidden;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;

	&>article {
		margin: var(--Large) auto;
		overflow: hidden;
	}
}

article>*:first-child {
	margin-top: 0;
}

article>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	SECTION SIZES
\*-----------------------------------*/
.is-narrow {
	width: 90%;
	max-width: 640px;
	margin-right: auto;
	margin-left: auto;
}

.standard,
.is-standard {
	width: 90%;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.is-wide {
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.is-extra-wide {
	width: 90%;
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;
}

.is-full-width {
	width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

section {
	margin: 64px auto;
}

section>*:first-child {
	margin-top: 0;
}

section>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	DEFAULT WP CLASSES
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}

.wp-caption {
	padding-top: 5px;
	margin-bottom: 1.5em;
	text-align: center;
}

.wp-caption img {
	padding: 0;
	margin: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	margin: 0;
	font-size: 10px;
	line-height: 1.5;
}

.wp-smiley {
	max-height: 1em;
	margin: 0 !important;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	transition: all 0.35s linear;
	transform: translateY(-100%);

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	E5 CREDIT
\*-----------------------------------*/
#element5-credit {
	position: relative;

	& a {
		position: absolute;
		right: 0;
		transform: translateY(-125%);
	}
}