/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Inbetween: 24px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Inbetween: 1.5rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #FFFFFF;
	--Smoke: #F7F6F3;
	--SmakeDark: #DAD7C6;
	--Purple: #2F1143;
	--Pink: #E76356;
	--Green: #20BAA3;
	--Yellow: #F7E21A;
	--YellowDark: #C5B307;
	--Blue: #5F73B6;
	--Error: #E8220F;
	--Success: #75c583;
	--Pink2Purple: linear-gradient(127.73deg, #E76356 0%, #2F1143 100%);
	--Green2Purple: linear-gradient(135deg, #20BAA3 0%, #2F1143 100%);
	--Green2White: linear-gradient(135deg, #20BAA3 0%, #BBEBF4 100%);
	--Blue2Purple: linear-gradient(135deg, #5F73B6 0%, #2F1143 100%);
	--Shadow: 0 12px 14px 0 rgba(47, 17, 67, 0.3);
}