/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& a {
		margin: 0 var(--Small);
	}
}

/*-----------------------------------*\
	SPONSORS
\*-----------------------------------*/
body.post-type-archive-sponsor header {
	&>div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		& .button {
			margin: 24px 0 0 0;

			@media(--phone) {
				margin: 0 0 0 48px;
			}
		}
	}
}

.sponsor-aside h2 {
	text-align: center;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;

	@media(--phone) {
		flex-wrap: nowrap;
	}

	& h2 {
		font-family: 'Sora';
		font-weight: 600;
		font-size: 20px;
		margin: 0 0 var(--Medium) 0;
		text-align: center;
		width: 100%;

		@media(--phone) {
			width: auto;
			margin: 0 var(--Large) 0 0;
			text-align: right;
		}
	}

	& .sponsor-grid {
		display: grid;
		grid-gap: 48px 24px;
		flex-grow: 1;

		& img {
			width: 100%;
			object-fit: contain;
			object-position: center;
			mix-blend-mode: multiply;
		}

		&.platinum {
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

			& img {
				@media(--phone) {
					object-position: center left;
					max-width: 500px;
				}
			}
		}

		&.gold {
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

			@media(--phone) {
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			}

			& img {
				height: 120px;
			}
		}

		&.silver {
			grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));

			@media(--phone) {
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			}

			& img {
				height: 80px;
			}
		}

		&.bronze {
			grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));

			@media(--phone) {
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			}

			& img {
				height: 64px;
			}
		}

		&.other {
			grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));

			@media(--phone) {
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			}

			& img {
				height: 64px;
			}
		}
	}
}

/*-----------------------------------*\
	SPEAKERS
\*-----------------------------------*/
body.post-type-archive-speaker header {
	&>div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		& .button {
			margin: 24px 0 0 0;

			@media(--phone) {
				margin: 0 0 0 48px;
			}
		}
	}
}

/*-----------------------------------*\
	LIVE ROOMS
\*-----------------------------------*/
section.guides {
	text-align: center;

	& .button {
		&>svg {
			display: inline-block;
			width: 24px;
			vertical-align: middle;
			margin-right: 8px;
		}
	}

	& a:first-child img {
		height: 250px;
		vertical-align: middle;
		transform: rotate(355deg);
		margin-right: -12px;
	}

	& a:last-child img {
		height: 250px;
		vertical-align: middle;
		transform: rotate(9deg);
		margin-left: -12px;
	}
}

.room-grid {
	display: grid;
	grid-gap: var(--Large);
	grid-template-columns: 1fr 1fr;

	@media(--laptop) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	& a {
		text-decoration: none;

		@media(--laptop) {
			grid-column: span 2;
		}

		&:nth-child(2) {
			@media(--laptop) {
				grid-column: 1/4;
			}
		}

		&:nth-child(3) {
			@media(--laptop) {
				grid-column: 4/7;
			}
		}
	}

	& article {
		position: relative;

		&:first-child {
			grid-column: 1/-1;
		}

		& img {
			width: 100%;
			height: auto;
		}

		& h3 {
			margin: 0;
			color: var(--Smoke);
			background-color: var(--Purple);
			padding: 6px 12px 4px 12px;
			text-align: center;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}

		& h4 {
			margin: 0;
			font-family: Sora;
			font-size: 16px;
			color: var(--Purple);
		}

		& p.time-tag {
			position: absolute;
			left: 8px;
			top: 48px;
			padding: 4px 14px 6px 14px;
			background: red;
			color: white;
			border-radius: 6px;
			font-size: 12px;

			&.is-red {
				background-color: var(--Error);
			}

			&.is-pink {
				background-color: var(--Pink);
			}

			&.is-green {
				background-color: var(--Green);
			}
		}
	}

	&.snack-learn article img {
		width: auto;
		max-width: 100%;
	}

	& a:first-child {
		grid-column: 1/-1;

		& article {

			& .featured-label {
				position: absolute;
				left: 16px;
				top: 56px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				grid-gap: 16px;

				& p.time-tag {
					position: static;
					display: inline-block;
					margin: 0;
				}

				& h4 {
					color: var(--Smoke);
					order: 2;
				}

			}
		}
	}
}

body.post-type-archive-live .room-grid {
	grid-template-columns: 1fr;

	@media(--phone) {
		grid-template-columns: 1fr 1fr;
	}

	@media(--laptop) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

body.term-exhibit-hall .room-grid {
	display: grid;
	grid-gap: var(--Large);
	grid-template-columns: 1fr;

	@media(--phone) {
		grid-template-columns: 1fr 1fr;
	}

	@media(--laptop) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	& article {
		&:first-child {
			grid-column: 1;
		}
	}
}

.room-grid .video-wrapper+p {
	margin: 4px 0 0 0;
	font-weight: 500;
	font-size: 14px;
}

body.tax-room {
	&>header {
		padding-bottom: var(--Large);
		min-height: 0;

		& nav {
			justify-content: center;
			align-items: center;

			& a.is-active {
				text-decoration: none;
				color: var(--Purple);
				border-color: var(--Purple);
			}

			& ul {
				width: 100%;
				display: grid;
				grid-gap: 12px;
				grid-template-columns: 1fr 1fr;

				@media(--phone) {
					grid-template-columns: 1fr 1fr 1fr;
				}

				@media(--tablet) {
					grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
				}

				& li {
					margin: 0;

					& a {
						text-align: center;
					}
				}
			}
		}

		&+main>.room-grid:first-child {
			margin-top: 0;
		}
	}
}

body.tax-room,
body.post-type-archive-live {
	& aside.live-presented-by {
		text-align: center;
		margin: var(--Medium) auto var(--Large) auto;
		font-size: 20px;

		& img {
			mix-blend-mode: multiply;
			max-height: 64px;
			object-fit: contain;
			object-position: center;
			vertical-align: middle;
			display: block;
			margin: 0 auto;

			@media(--phone) {
				object-position: left center;
				margin: 0 0 0 var(--Small);
				display: inline-block;
			}
		}

		&+main>section:first-child {
			margin-top: 0;
		}
	}

	& aside.subta-powered {
		display: none;
	}

	& aside.subta-cta {
		background: var(--Green2White);
		padding: 0 var(--Small) var(--Large) var(--Small);
		margin-top: 96px;
		position: relative;

		@media(--phone) {
			margin-top: var(--xLarge);
		}

		&>div {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 48px;
			align-items: center;

			@media(--tablet) {
				grid-template-columns: 1fr 2fr;
			}

			&>div {
				&>*:first-child {
					margin-top: 0;
				}

				&>*:last-child {
					margin-bottom: 0;
				}
			}

			& svg {
				max-width: 100%;
			}

			& h2 span {
				display: table;
				margin-bottom: 8px;
				font-size: 16px;
				background-color: #242362;
				padding: 6px 12px 4px 12px;
				color: white;
			}

			& .poster {
				width: 100%;
				height: 450px;
				background-position: top;
				background-size: contain;
				background-image: url('../images/ppp-poster-mockup.png');
				background-repeat: no-repeat;
			}
		}

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			left: -64px;
			bottom: calc(100% - 120px);
			height: 500px;
			width: 500px;
			background-position: bottom left;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('../images/Footer-ShapeLeft.svg');
			display: none;

			@media(--phone) {
				display: block;
				left: -200px;
			}

			@media(--laptop) {
				left: -64px;
			}
		}

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			right: -200px;
			bottom: calc(100% - 150px);
			height: 500px;
			width: 500px;
			background-position: bottom right;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('../images/Footer-ShapeRight.svg');

			@media(--laptop) {
				right: -32px;
			}
		}
	}
}