/*-----------------------------------*\
	CONFIRMATION
\*-----------------------------------*/
body.page-template-confirmation {
	& header {
		margin: 120px auto var(--xLarge) auto;

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			display: none;
			top: -150px;
			height: 100vh;
			width: 500px;
			background-position: top left;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('../images/Header-ShapeLeftGroup.svg');

			@media(--tablet) {
				display: block;
				left: -320px;
			}

			@media(--laptop) {
				left: -200px;
			}
		}

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			right: -400px;
			top: -500px;
			height: 100vh;
			width: 800px;
			background-position: top right;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('../images/Header-ShapeRightGroup.svg');

			@media(--phone) {
				right: -600px;
				top: -300px;
			}

			@media(--tablet) {
				right: -280px;
			}

			@media(--laptop) {
				right: -200px;
			}
		}
	}

	& aside.helpful-links {
		margin: var(--xLarge) auto 120px auto;
	}

	& aside.subta-powered {

		&:before {
			display: none;
		}

		&:after {
			display: none;
		}
	}
}

/*-----------------------------------*\
	SCHEDULE
\*-----------------------------------*/
nav.tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	@media(--phone) {
		flex-wrap: nowrap;
	}

	& button {
		display: block;
		margin: 0 0 var(--Medium) 0;
		width: 100%;

		@media(--phone) {
			display: inline-block;
			margin: 0 var(--Small);
			width: auto;
		}

		&.is-active {
			color: var(--White);
			background-color: var(--Purple);
		}
	}
}

section.schedule {
	width: 90%;
	max-width: 720px;
	margin: var(--xLarge) auto 0 auto;
	display: none;

	&.is-active {
		display: block;
	}

	&>h2 {
		margin: 0 auto 52px auto;
		text-align: center;
	}

	& .schedule-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 60px;
	}

	& .item.labels {
		@media(--tabletV) {
			display: none !important;
		}
	}

	& .item {
		display: grid;
		grid-template-columns: 1fr;

		& .time {
			font-size: 24px;
			color: var(--Green);
			text-transform: uppercase;
			margin-bottom: var(--Small);
		}

		& .description {
			margin-left: 50px;
			border-bottom: 2px solid #2f1143;
			padding: 1.5rem;

			&:nth-child(2) {
				border-top: 2px solid #2f1143;
			}

			&:nth-child(2n+1) {
				background-color: #EBE8ED;
			}

			& h3 {
				font-family: 'Sora';
				font-weight: 500;
				margin-top: 0;
				font-size: 18px;
			}

			& span {
				display: block;
				font-size: 16px;
				color: var(--SmokeDark);
			}

			& .sponsor {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				& p {
					margin: 0 var(--Small) 0 0;
				}

				& img {
					width: 200px;
					height: 48px;
					object-fit: contain;
					object-position: center left;
					mix-blend-mode: multiply;
				}
			}

			& p {
				margin-bottom: 0;
			}

			& ul {
				margin: var(--Medium) 0 0 0;
				padding: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;

				& li {
					list-style: none;
					padding: 0;
					background-image: none;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					margin-top: var(--Medium);
					margin-right: 1rem;

					&::before {
						display: none;
					}

					&:last-child {
						margin-bottom: var(--Small);
					}

					& img {
						width: 56px;
						height: 56px;
						margin-right: 16px;
						object-fit: cover;
					}

					& div {
						& p {
							margin: 0;

							&.name {
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}

	&.time-hidden .item {
		grid-template-columns: 1fr;
	}

	&.two-tracks {
		max-width: 960px;

		& .item {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 0;

			&.labels {
				display: none;
			}

			& .time {
				font-weight: 700;
				font-size: 28px;
				text-transform: uppercase;
				color: var(--Purple);
			}
		}

		&.time-hidden .item {
			grid-template-columns: 1fr 1fr;
		}
	}
}

/*-----------------------------------*\
	HOME
\*-----------------------------------*/
.page-template-home header.post-head {

	&::before {
		display: none;
	}

	&::after {
		right: 0;
		top: 0;
		width: 110%;
		height: 400px;
		background-position: top right;
		background-size: contain;
		background-image: url('../images/home-header.png');

		@media(--tablet) {
			height: 70vh;
			width: 60%;
		}
	}

	&>div>* {
		max-width: 100%;
	}

	&>div {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		align-items: center;
		grid-gap: 96px;

		@media(--phone) {
			grid-gap: 32px;
		}

		@media(--desktop) {
			grid-template-columns: 630px 1fr;

			& div:last-child {
				order: -1;
			}
		}
	}

	& h2 {
		font-family: 'Sora';
		font-weight: 300;
		font-size: 24px;
		margin: var(--Inbetween) 0 0 0;
	}

	& .button {
		display: table;

		&.is-ghost {
			border: 0;
			padding-left: 0;
			margin: 16px 0 0 0;

			&:hover,
			&:focus {
				text-decoration: underline;
				background: transparent;
				border: 0;
				color: var(--Purple);
			}
		}
	}

	& iframe {
		box-shadow: var(--Shadow);
	}
}

.youtube-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	& iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}