/*----------------------------------------------------------------*\
	SINGLE POST TEMPLATE
\*----------------------------------------------------------------*/
body.single-sponsor {
	& header.post-head {
		padding: var(--xLarge) 0 var(--Large) 0;

		& a {
			margin-bottom: var(--Large);
			display: block;
			text-decoration: none;
			color: var(--Blue);

			&::before {
				content: "\276E";
				display: inline-block;
				font-size: 14px;
				font-weight: 400;
				margin-right: 8px;
				position: relative;
				top: -1px;
			}


			&:hover {
				text-decoration: underline;
			}
		}

		& h1 span {
			display: none;
		}
	}

	& main {
		padding-bottom: 120px;
	}

	& aside.subta-powered {
		display: none;
	}
}