/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	position: fixed;
	bottom: var(--Medium);
	left: var(--Medium);
	width: calc(100% - 32px);
	max-width: 350px;
	max-height: 0;
	padding: 0;
	background: var(--Pink2Purple);
	box-shadow: var(--Shadow);
	overflow: hidden;
	z-index: 9999999;

	&.note-on {
		max-height: 100vh;
		padding: var(--Medium) 48px var(--Medium) var(--Medium);
	}

	&.is-higher-up {
		bottom: 96px;
	}

	& p {
		color: var(--White);
		font-weight: 100;
		font-size: 14px;
		letter-spacing: .5px;
		margin: 0;

		& a {
			color: var(--White);
			text-decoration: underline;

			&:hover,
			&:focus {
				color: var(--White);
				text-decoration-style: double;
			}
		}

		&+p {
			margin-top: var(--Small);
		}
	}

	& button {
		border: 0;
		background: transparent;
		top: 4px;
		right: 4px;
		position: absolute;
		padding: 0;

		& svg {
			fill: var(--White);
			width: 24px;
			height: 24px;
		}
	}
}