/*-----------------------------------*\
	NAVIGATION
\*-----------------------------------*/
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&.is-horizontal {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	& ul {
		display: flex;
		justify-content: space-between;
		padding: 0;
		align-items: center;
		margin: 0;
		list-style: none;

		&>li {
			padding: 0;
			margin: 0;

			&:not(.is-button) {
				padding: 0;

				&::before {
					display: none;
				}
			}

			&.current-menu-item a:not(.button),
			&.current-page-ancestor a:not(.button) {
				border-color: var(--Purple);
			}

			&.is-button {
				margin: var(--Small);

				&.is-green a {
					color: var(--Purple);
					background-color: var(--Green);
					border-color: var(--Green);
				}

				&.is-pink a {
					color: var(--Purple);
					background-color: var(--Pink);
					border-color: var(--Pink);
				}

				&.is-ghost a {
					background: transparent;
					color: var(--Purple);
					border-color: var(--Purple);
				}

				& a:hover,
				& a:focus {
					color: var(--Smoke);
					background-color: var(--Purple);
					border-color: var(--Purple);
				}
			}

			&.menu-item-has-children {
				position: relative;

				&:focus-within ul,
				&:hover ul,
				&>a:hover+ul {
					display: block;
				}

				&>a:after {
					content: "";
					display: inline-block;
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid var(--Purple);
					margin-left: 8px;
					top: -3px;
					position: relative;
				}
			}

			&:not(.is-button) a:not(.button) {
				display: block;
				padding: var(--Small) 12px;
				color: var(--Purple);
				font-weight: 400;
				text-decoration: none;
				border-bottom: 4px solid transparent;

				&:hover,
				&:focus {
					text-decoration: none;
					color: var(--Purple);
					border-color: var(--Purple);
				}
			}

			&+li,
			&+li:not(.is-button) {
				margin-left: 12px;
			}
		}

		&.sub-menu {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 99999;
			width: 200px;
			margin: 0;
			padding: 0 0 4px 0;
			background: var(--White);
			box-shadow: var(--Shadow);

			&>li:not(.is-button) {
				margin: 0 4px;
				padding: 0;
			}
		}
	}
}

/*-----------------------------------*\
	STICKY NAV
\*-----------------------------------*/
.primary-nav-wrap {
	background: var(--White);
	box-shadow: var(--Shadow);
	position: relative;
	z-index: 999999;
	transition: all 0.35s ease-in-out;

	&.is-fixed {
		width: 100%;
		position: fixed;
	}
}

/*-----------------------------------*\
	NOTIFICATION
\*-----------------------------------*/
aside.notification {
	background: var(--Pink2Purple);
	padding: var(--Small);

	& p {
		margin: 0;
		font-size: 14px;
		color: var(--White);
		text-align: center;
	}

	& a {
		color: var(--White);
		text-decoration: underline;
		transition: 0;
		display: block;

		@media(--phone) {
			display: inline-block;
		}

		&:hover,
		&:focus {
			color: var(--White);
			text-decoration-style: double;
		}
	}
}

/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
nav.is-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;

	@media(--phone) {
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	& .subsum-logo svg {
		width: 220px;
		height: 80px;

		@media(--phone) {
			width: 175px;
			margin-right: var(--Inbetween);
		}
	}

	& .left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	& .menu-primary-left-container {
		display: none;

		@media(--laptop) {
			display: inline-block;
		}
	}

	& .right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	& #menu-primary-right {
		&>*:not(:last-child) {
			display: none;

			@media(--laptop) {
				display: inline-block;
			}
		}
	}

	& .mobile-menu-toggle {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		& svg {
			fill: var(--Purple);
			width: 24px;
			height: 24px;
			margin-left: var(--Small);
		}

		&::after {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid var(--Purple);
			margin-left: 8px;
			position: relative;
			transform: rotate(-90deg);
		}

		@media(--laptop) {
			display: none;
		}
	}
}

/*-----------------------------------*\
	MOBILE NAVIGATION
\*-----------------------------------*/
nav.mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 80%;
	max-width: 350px;
	z-index: 999999999;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	background: var(--Blue2Purple);
	color: var(--White);
	padding: var(--Inbetween);
	transform: translateX(100%);
	transition: all 0.35s linear;

	&.is-active {
		transform: translateX(0);
	}

	@media(--laptop) {
		display: none;
	}

	& button {
		background-color: var(--White);
		border-color: var(--White);
		padding: var(--Small) var(--Inbetween);
	}

	& ul {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		margin-top: var(--Large);

		&>li:not(.is-button) a:not(.button) {
			color: var(--White);
			text-align: right;
			font-size: 16px;
			padding: var(--Small) 0;

			@media(--smallPhone) {
				font-size: 20px;
			}
		}
	}
}

/*-----------------------------------*\
	PRICE JUMP BANNER
\*-----------------------------------*/
aside.price-jump {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: var(--Medium);
	background: var(--Blue2Purple);
	z-index: 999999;

	&>.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& p {
		color: var(--White);
		margin: 0;

		& span.counter {
			font-size: 28px;
			font-weight: 600;
			vertical-align: middle;
			margin: 0 var(--xSmall);
		}
	}
}